/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
    margin-top: 5px;
  }
  
  .container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
 }

 .example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
  margin-top: 10px;
}

  th {
      width: 10%;
  }

  .pointer {
      cursor: pointer;
  }

  .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
      margin-top: 10px;
    }

    .spinner {
      margin: 0 auto;
      position: fixed; /* or absolute if inside another container */
      top: 50%;
      left: 50%;
    }

    .error-message {
      color: red;
      text-align: center;
      margin: 20px 0;
      font-weight: bold;
    }
